@font-face {
    font-family: 'Product Sans';
    src: url('/fonts/Product Sans Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-main: 'Product Sans', sans-serif;

    --font-size-large: 40px;
    --font-size-medium: 25px;
    --font-size-small: 16px;

    --navbar-height: 60px;
    --transition-duration: 0.3s;

    --text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.48), 0 1.5px 3px rgba(0, 0, 0, 0.21);
    --box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37), 0 1.5px 3px rgba(0, 0, 0, 0.13);

    --color-bg: #151515;
    --color-bg-translucent: rgba(21, 21, 21, 0.85);
    --color-fg: #E8E3E3;
    --color-border: #252525;
    --main-accent: #8DA3B9;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body,
input,
button,
select,
textarea {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
    color: var(--color-fg);
    font-family: var(--font-main);
    text-rendering: optimizeLegibility;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main,
.main-content {
    position: relative;
    z-index: 2;
    flex: 1 0 auto;
    margin-top: var(--navbar-height);
}

.section {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;
}

.section-content {
    max-width: 600px;
    text-align: center;
}

.section-title {
    margin: 0 0 30px;
    font-size: var(--font-size-large);
    font-weight: normal;
    color: var(--main-accent);
    text-shadow: var(--text-shadow);
}

@media (max-width: 768px) {
    .section {
        padding: 40px 20px;
    }
}
